.messageContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.actualmessage {
    background-color: #4e73df;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.otherusermessage {
    margin-left: auto;
    background-color: dodgerblue;
    color: white;
}